/* 
	Table of Contents

    01. Slider ------------------------------------
         Slider -----------------------------------
    02. Magnific Popup ----------------------------
         Magnific Popup CSS -----------------------
         Main image in popup ----------------------
         The shadow behind the image --------------
    03. Settings ----------------------------------
    04. Sprite ------------------------------------
    05. Generic -----------------------------------
    06. Base --------------------------------------
         Mobile -----------------------------------
    07. Fonts -------------------------------------
    08. Helpers -----------------------------------
         Clear ------------------------------------
         Notext -----------------------------------
         Hidden -----------------------------------
         No Margin --------------------------------
         Text Blue --------------------------------
         Fixed ------------------------------------
         Block only Mobile ------------------------
         Text Green -------------------------------
         Text Gray --------------------------------
         Alignleft --------------------------------
         Alignright -------------------------------
         Disabled ---------------------------------
         Grid -------------------------------------
         Responsive Helpers -----------------------
    09. Reset -------------------------------------
    10. Regions -----------------------------------
    11. Container ---------------------------------
    12. Content -----------------------------------
    13. Footer ------------------------------------
         Small Desktop ----------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    14. Header ------------------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    15. Main --------------------------------------
    16. Shell -------------------------------------
    17. Sidebar -----------------------------------
    18. Wrapper -----------------------------------
    19. Modules -----------------------------------
    20. Appointment -------------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    21. Box ---------------------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    22. Button ------------------------------------
         Button Block -----------------------------
         Mobile -----------------------------------
    23. Form Elements -----------------------------
    24. Form --------------------------------------
    25. Guide Code --------------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    26. Intro -------------------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    27. Link --------------------------------------
    28. List --------------------------------------
    29. List Buttons ------------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    30. List Links --------------------------------
         Small Desktop ----------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    31. Logo --------------------------------------
         Mobile -----------------------------------
    32. Nav ---------------------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    33. Partner -----------------------------------
         Small Desktop ----------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    34. Section Datas -----------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    35. Section Guide -----------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    36. Section Callout ---------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    37. Section Token -----------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    38. Section Parteners	 ------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    39. Services ----------------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
         Mobile Portrait --------------------------
    40. Slider Partners ---------------------------
         Mobile -----------------------------------
    41. Socials -----------------------------------
         Small Desktop ----------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    42. Step --------------------------------------
         Tablet Portrait --------------------------
         Mobile -----------------------------------
    43. Table -------------------------------------
    44. Widget ------------------------------------
    45. Themes ------------------------------------
 */

/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

/* Slider */

.slick-slider
{
    position: relative;

    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus
{
    outline: none;
}

.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}

.slick-track:after
{
    clear: both;
}

.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide
{
    float: right;
}

.slick-slide img
{
    display: block;
}

.slick-slide.slick-loading img
{
    display: none;
}

.slick-slide.dragging img
{
    pointer-events: none;
}

.slick-initialized .slick-slide
{
    display: block;
}

.slick-loading .slick-slide
{
    visibility: hidden;
}

.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* ------------------------------------------------------------ *\
	Magnific Popup
\* ------------------------------------------------------------ */

/* Magnific Popup CSS */

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
    color: #CCC; }

.mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; 
}

.mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }

.mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
    margin-top: -54px; }

.mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }

.mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }

.mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }

.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }

.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }

.mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }

.mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */

img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */

.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }

.mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
        transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
        transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
        transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/* ------------------------------------------------------------ *\
	Settings
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Sprite
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { min-width: 320px; background: #f9fbfd; font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 1.71; color: #838383; }

a { color: inherit; text-decoration: underline; -webkit-transition: .4s; -o-transition: .4s; transition: .4s; }

a:hover,
a[href^="tel"] { text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 0.855em; }

/*h1 { font-size: 48px; line-height: 1.17;  letter-spacing: -0.86px; font-family: 'Robot Condensed'; }*/
h1 { 
color: rgb(255, 255, 255);
font-size: 65px;
font-style: Bold;
font-family: Roboto Condensed;
font-weight: 700;
line-height: 1;
font-stretch: normal;
}


h2 { font-size: 50px; line-height: 1.27; letter-spacing: -0.71px;   font-style: Regular; font-weight: 400; font-family: Roboto Condensed; color: #fff; }
h6 { font-size: 45px; line-height: 1.27; letter-spacing: -0.71px;   font-style: Regular; font-weight: 400; font-family: Roboto Condensed; color: #000; }

h3 { font-size: 50px; line-height: 1.27; letter-spacing: -0.61px;   font-style: Bold; font-weight: 500; font-family: Roboto Condensed; color: #000; }

h4 { font-size: 18px; font-family: 'Axiforma', sans-serif; line-height: 1.39; color: #303133; }
h5 { font-size: 30px; line-height: 1.27; letter-spacing: -0.61px;  text-align: center; font-style: Bold; font-weight: 400; font-family: Roboto Condensed; color: #838383;}
p,
ul,
ol,
dl,
hr,
table,
blockquote { margin-bottom: 1.71em; }

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }

/* Mobile */

@media (max-width: 767px) {
	h1 { font-size: 30px; letter-spacing: -0.54px; line-height: 1.33; }
	h2 { font-size: 27px; letter-spacing: -0.48px; line-height: 1.26; }
}

/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma-Regular.eot');
    src: url('../fonts/Axiforma-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Axiforma-Regular.woff') format('woff'),
        url('../fonts/Axiforma-Regular.ttf') format('truetype'),
        url('../fonts/Axiforma-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma-Bold.eot');
    src: url('../fonts/Axiforma-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Axiforma-Bold.woff') format('woff'),
        url('../fonts/Axiforma-Bold.ttf') format('truetype'),
        url('../fonts/Axiforma-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AxiformaBook';
    src: url('../fonts/Axiforma-Book.eot');
    src: url('../fonts/Axiforma-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Axiforma-Book.woff') format('woff'),
        url('../fonts/Axiforma-Book.ttf') format('truetype'),
        url('../fonts/Axiforma-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

/*  Clear  */

.clear:after {
    content: '';
    display: block;
    clear: both; }

/*  Notext  */

.notext { overflow: hidden; text-indent: 101%; white-space: nowrap; }

/*  Hidden  */

[hidden],
.hidden { display: none !important; }

/* No Margin*/

.no-margin { margin: 0!important; }

/*Text Blue*/

.text-blue { color: #15bef7; }

/* Fixed */

.fixed { position: relative; overflow: hidden; height: 100vh; }

/* Block only Mobile*/

@media (max-width: 767px) {
	.block-mobile { display: block !important; line-height: 1.2; }
}

/* Text Green */

.text-green { color: #a6e22e; }

/* Text Yellow */

.text-yellow { color: #e6db74; }


/*Text Gray*/

.text-gray { color: #8c879d; }

/*  Alignleft  */

.alignleft { float: left; }

/*  Alignright  */

.alignright { float: right; }

/*  Disabled  */

[disabled],
.disabled { cursor: default; }

/*  Grid  */

.cols { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; }

.col { max-width: 100%; -webkit-box-flex: 1; -ms-flex: 1 1; flex: 1 1; }

.col--1of2 { max-width: 50%; -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; }

/*  Responsive Helpers  */

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block { display: none !important; }

@media (max-width: 767px) {
	.hidden-xs { display: none !important; }
	.visible-xs-block { display: block !important; }
	.visible-xs-inline { display: inline !important; }
	.visible-xs-inline-block { display: inline-block !important; }
}

@media (min-width: 768px) and (max-width: 1023px) {
	.hidden-sm { display: none !important; }
	.visible-sm-block { display: block !important; }
	.visible-sm-inline { display: inline !important; }
	.visible-sm-inline-block { display: inline-block !important; }
}

@media (min-width: 1024px) and (max-width: 1200px) {
	.hidden-md { display: none !important; }
	.visible-md-block { display: block !important; }
	.visible-md-inline { display: inline !important; }
	.visible-md-inline-block { display: inline-block !important; }
}

@media (min-width: 1201px) {
	.hidden-lg { display: none !important; }
	.visible-lg-block { display: block !important; }
	.visible-lg-inline { display: inline !important; }
	.visible-lg-inline-block { display: inline-block !important; }
}

/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

* { padding: 0; margin: 0; outline: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

*:before,
*:after { -webkit-box-sizing: inherit; box-sizing: inherit; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main { display: block; }

template { display: none; }

html { -webkit-tap-highlight-color: rgba(0,0,0,0); tap-highlight-color: rgba(0,0,0,0); }

body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }

img,
iframe,
video,
audio,
object { max-width: 100%; }

img,
iframe { border: 0 none; }

img { height: auto; display: inline-block; vertical-align: middle; }

b,
strong { font-weight: bold; }

address { font-style: normal; }

svg:not(:root) { overflow: hidden; }

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }

a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; appearance: none; }

textarea { overflow: auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }

button,
input,
optgroup,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

button,
select { text-transform: none; }

table { width: 100%; border-collapse: collapse; border-spacing: 0; }

nav ul,
nav ol { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Regions
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { padding: 173px 0 30px; background: -o-linear-gradient(272deg, #189aff 0%, #2d62fd 100%); background: linear-gradient(178deg, #189aff 0%, #2d62fd 100%);  background-repeat: no-repeat; background-position: center 0; background-size: cover; color: #fff; font-size: 16px; line-height: 1.5; }

.footer .footer__content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 10px 43px; border-bottom: 1px solid  rgba(255,255,255, .2); }

.footer .btn--back-top { margin-top: -12px; }

.footer .footer__inner { padding: 57px 10px 0; }

.footer .footer__bar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 30px 10px 0; }

.footer .btn--back-top { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }

.footer .footer__nav ul { list-style: none; }

.footer .footer__nav li { display: inline-block; }

.footer .footer__nav li ~ li { margin-left: 28px; }

.footer .footer__nav a { display: inline-block; text-decoration: none; }

.footer .footer__nav a:hover { opacity: .6; }

/* Small Desktop */

@media (max-width: 1200px) {
	.footer { background-position: center 60px; }
	.footer .footer__nav li ~ li { margin-left: 15px; }
}

/* Tablet Portrait */

@media (max-width: 1023px) {

	.footer { padding: 135px 0 30px; background-position: center center; }
	
	.footer .footer__bar { padding: 31px 22px 0; }

	.footer .footer__nav ul { -webkit-columns: 4; columns: 4; -webkit-column-gap: 73px; column-gap: 73px; }
	.footer .footer__nav li { display: block; line-height: 3.3;  }
	.footer .footer__nav li ~ li { margin-left: 0; }
	.footer .footer__content { display: block; text-align: center; padding: 0 10px 28px; }
	.footer .footer__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 44px 23px 0; }
}

/* Mobile */

@media (max-width: 767px) {
	.footer { padding: 201px 0 30px; background-position: center 67px; }
	
	.footer .footer__content { padding: 0 10px 39px; }
	.footer .footer__inner { padding: 41px 8px 0; }
	.footer .footer__nav ul { -webkit-columns: 2; columns: 2; -webkit-column-gap: 17px; column-gap: 17px; }
	.footer .footer__nav li { line-height: 3.2; }
	.footer .footer__bar { display: block; padding: 20px 6px 0; }
}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { position: absolute; left: 0; top: 0; z-index: 100; padding: 28px 10px; width: 100%; }

.header .header__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 10px; }

.header .btn { font-family: 'Axiforma', sans-serif; }

.header .header__inner-aside { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-flex: 1; -ms-flex: 1 1; flex: 1 1; }

/* Tablet Portrait */

@media (max-width: 1023px) {
	.header { padding: 23px 10px }
	.header .btn { display: none; } 	
}

/* Mobile */

@media (max-width: 767px) {
	.header { padding: 30px 0; }
}

/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell { max-width: 1300px; padding-left: 10px; padding-right: 10px; margin: auto; }

.shell--fluid { max-width: none; }

/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper { min-height: 100vh; overflow: hidden; }

/* ------------------------------------------------------------ *\
	Modules
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Appointment
\* ------------------------------------------------------------ */
/*1258*/

.appointments { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; 
   -webkit-box-align: center;  -ms-flex-align: center;  align-items: center; max-width: 1258px; margin: 0 auto;  padding: 104px 100px 104px; 
   background-color: #fff; color: #48494b; font-size: 13px; font-weight: 600; border-radius: 5px; -webkit-box-shadow: 0 19px 26px rgba(0, 0, 0, 0.15); 
   box-shadow: 0 19px 26px rgba(0, 0, 0, 0.15); }
/**/
.appointment { text-align: center; -webkit-box-flex: 0; -ms-flex: 0 1 201px; flex: 0 1 201px; max-width: 201px; }

.appointment .appointment__image { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-negative: 0; flex-shrink: 0; min-height: 156px; margin-bottom: 18px; }

.appointment .appointment__content { min-height: 130px; padding: 0 25px 0; line-height: 2.31; }

.appointment .appointment__content h4 { margin-bottom: 16px; }

.appointment:nth-child(2) { max-width: 365px; -webkit-box-flex: 0; -ms-flex: 0 1 365px; flex: 0 1 365px; }

.appointment:nth-child(2) .appointment__content { padding: 0; }

.appointment .appointment__foot { padding-top: 29px; }

/* Tablet Portrait */

@media (max-width: 1023px) {
	.appointments { padding: 104px 80px 116px; display: block; max-width: 701px; }
	.appointment ~ .appointment { margin-top: 63px; }
	.appointment .appointment__image { min-height: 163px;}
	.appointment:nth-child(2),
	.appointment { max-width: 100%; -webkit-box-flex: 0; -ms-flex: 0 1 100%; flex: 0 1 100%; }	
	.appointment .appointment__content h4 { margin-bottom: 15px; }
	.appointment:nth-child(2) .appointment__content { padding: 0 100px 0; }
	.appointment .appointment__content { padding: 0 145px 0; }
	.appointment .appointment__foot { padding-top: 28px; }
	.appointment:last-child { margin-top: 47px; }
}

/* Mobile */

@media (max-width: 767px) {
	.appointments { max-width: 288px; padding: 50px 0; }
	.appointment ~ .appointment { margin-top: 30px; }
	.appointment:nth-child(2) .appointment__content,
	.appointment .appointment__content { padding: 0 20px; min-height: 100px; }	
}

/* ------------------------------------------------------------ *\
	Box
\* ------------------------------------------------------------ */

.boxes { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 65px; max-width: 617px; margin-right: auto; margin-left: 10px; }

.box { padding: 41px 36px; min-height: 220px; max-width: 295px; margin-bottom: 30px; -webkit-box-flex: 0; -ms-flex: 0 1 295px; flex: 0 1 295px; background-color: #fff;  background-repeat: no-repeat, no-repeat; background-position: center 100%, center 100%; background-size: 100%, 100%; -webkit-box-shadow: 0 19px 26px rgba(0, 0, 0, 0.15); box-shadow: 0 19px 26px rgba(0, 0, 0, 0.15); border-radius: 5px; }

.box .box__inner { height: 100%; width: 100%; }

.box .box__content { padding-right: 39px; }

/* Tablet Portrait */

@media (max-width: 1023px) {
	.boxes { max-width: 700px; margin: 0 auto; }
	.box { max-width: 337px; -webkit-box-flex: 0; -ms-flex: 0 1 337px; flex: 0 1 337px; }
}

/* Mobile */

@media (max-width: 767px) {
	.boxes { padding-top: 56px; }
	.box { max-width: 288px; margin: 0 auto; -webkit-box-flex: 0; -ms-flex: 0 1 288px; flex: 0 1 288px; margin-bottom: 24px; padding: 40px 44px; }
	.box .box__content { padding-right: 0; }
}

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; text-decoration: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.btn--primary { display: inline-block; width: 100%; max-width: 187px; height: 48px; border-radius: 27px; line-height: 48px; border: 0; font-size: 14px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.2px; font-weight: bold; font-family: 'Axiforma', sans-serif; }

.btn--primary:hover { opacity: .5; }

.btn--green { background-color: #25D366; color: #fff; text-align: center;}

.btn--blue { background-color: #2e63fd; color: #fff; text-align: center;}


.btn--transparent { background-color: transparent; border: 1px solid #fff; color: #fff; }

.btn--back-top { position: relative;  border-radius: 5px; max-width: 165px; height: 57px; line-height: 57px; background-color: #2086fe; }

.btn--back-top:before { content: ''; position: absolute; left: 0; right: 0; bottom: 100%; margin: 0 auto; width: 0; height: 0; border-bottom: 5px solid #2086fe; border-left: 7px solid transparent; border-right: 7px solid transparent; }

/*  Button Block  */

.btn--block { display: block; padding-left: 0; padding-right: 0; }

/* Mobile */

@media (max-width: 767px) {
	.btn--primary { max-width: 203px; }	
	.btn--back-top { max-width: 155px; }		
}

/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::-webkit-input-placeholder { color: inherit; opacity: 1; }

input:-ms-input-placeholder { color: inherit; opacity: 1; }

input::-ms-input-placeholder { color: inherit; opacity: 1; }

input::placeholder { color: inherit; opacity: 1; }

textarea::-webkit-input-placeholder { color: inherit; opacity: 1; }

textarea:-ms-input-placeholder { color: inherit; opacity: 1; }

textarea::-ms-input-placeholder { color: inherit; opacity: 1; }

textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Guide Code
\* ------------------------------------------------------------ */

.guide-code { max-width: 510px; margin: 0 auto 22px 0; }

.guide-code .guide__head { padding-bottom: 15px; font-size: 18px; color: #2e63fd; line-height: 1.67; }

.guide-code .guide__code-container { padding: 21px 31px 21px; background-color: #2b2836; border-radius: 5px; font-size: 13px; color: #fff; font-family: 'Open Sans', sans-serif; }

.guide-code .guide__code-container span { display: inline-block; margin-bottom: 13px;  }

.guide-code .guide__code--small .guide__code-container { padding: 21px 31px; max-height: 65px; }

/* Tablet Portrait */

@media (max-width: 1023px) {
	.guide-code { max-width: 530px; margin: 0 auto 20px; text-align: left; }
	
}

/* Mobile */

@media (max-width: 767px) {
	.guide-code { max-width: 288px; margin: 0 auto 26px; }
	.guide-code .guide__code-container { padding: 15px 23px 0; }
	.guide-code .guide__code-container span { margin-bottom: 10px;  }
	.guide-code .guide__code--small .guide__code-container { padding: 15px 23px; max-height: 50px; }
	.guide-code .guide__head { padding-bottom: 18px; font-size: 16px; line-height: 1.5; text-align: center; }
}

/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

.intro { position: relative; padding: 168px 0 314px;  background-repeat: no-repeat; background-position: center 99%; background-size: cover; color: #fff; background-image: -o-linear-gradient(298deg, #189aff 0%, #2d62fd 100%); background-image: linear-gradient(152deg, #189aff 0%, #2d62fd 100%); font-size: 18px; }

.intro .intro__body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;  }

.intro .intro__aside { -webkit-box-flex: 1; -ms-flex: 1 1; flex: 1 1;  }

.intro .ico-play { margin-right: 15px; }

.intro .intro__content { -webkit-box-flex: 1; -ms-flex: 1 1; flex: 1 1; padding: 0 7px; }

.intro .intro__content h1 { margin-bottom: 38px; }

.intro .intro__content p { margin-bottom: 0; }

.intro .intro__actions { padding-top: 56px; }

.intro .intro__actions .btn--blue { max-width: 248px;  }

.intro .intro__actions .btn ~ .btn { margin-left: 20px; }

.intro .intro__foot { position: absolute; left: 0; top: calc(100% - 256px); width: 100%; }

.intro__money {
  color: #43e11c;
}

/* Tablet Portrait */

@media (max-width: 1023px) {
	.intro { padding: 192px 25px 120px; margin-bottom: 0; background-position: center 0; background-size: 200% 1434px; }

	.intro .intro__body { display: block; }
	.intro .intro__aside { text-align: center; }
	.intro .intro__actions {  display: -webkit-box;  display: -ms-flexbox;  display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
	.intro .intro__actions .btn ~ .btn { margin-top: 36px; margin-left: 0; }
	.intro .intro__content { text-align: center; }
	.intro .intro__foot { position: static; padding-top: 40px; }
}

/* Mobile */

@media (max-width: 767px) {
	.intro { padding: 91px 0 0; background-size: 300% 1434px; }

	.intro .intro__content { padding: 0 10px; }
	.intro .intro__content p { font-size: 16px; }
	.intro .intro__content h1 { margin-bottom: 33px; }
	.intro .intro__actions { padding-top: 39px; }
	.intro .intro__foot { padding-top: 78px; }
	.intro .intro__actions .btn ~ .btn { margin-top: 23px; }
}

/* ------------------------------------------------------------ *\
	Link
\* ------------------------------------------------------------ */

.link { text-transform: uppercase; letter-spacing: 0.2px; text-transform: uppercase; font-size: 12px; color: #2e63fd; font-family: 'Axiforma', sans-serif; text-decoration: none; font-weight: 700; }

.link:hover { opacity: .5; }

/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list-"] { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	List Buttons
\* ------------------------------------------------------------ */

.list-buttons { list-style: none;  margin: 0; padding: 10px 0 0; }

.list-buttons li { display: inline-block; }

.list-buttons li ~ li { margin-left: 32px; }

.list-buttons a { display: inline-block; text-decoration: none; }

.list-buttons a:hover { opacity: .5; }

/* Tablet Portrait */

@media (max-width: 1023px) {
	.list-buttons { padding: 3px 0; }
}

/* Mobile */

@media (max-width: 767px) {
	.list-buttons { padding: 10px 0; }
	.list-buttons img { width: 122px;  }
}

/* ------------------------------------------------------------ *\
	List Links
\* ------------------------------------------------------------ */

.list-links li { display: inline-block; }

.list-links li ~ li { margin-left: 44px; }

.list-links a { display: inline-block; text-decoration: none; }

.list-links a:hover { opacity: .6; }

/* Small Desktop */

@media (max-width: 1200px) {
	.list-links li ~ li { margin-left: 15px; }
}

/* Tablet Portrait */

@media (max-width: 1023px) {
	.list-links { padding: 47px 100px 0; }
	.list-links li:first-child,
	.list-links li:nth-child(2) { width: 33.33%; }

	.list-links li { line-height: 3.5; width: 32%; }	
	.list-links li ~ li { margin-left: 0; }
}

/* Mobile */

@media (max-width: 767px) {
	.list-links { padding: 52px 20px 0; font-size: 14px; }	
	.list-links li:first-child,
 	.list-links li:nth-child(2),
	.list-links li { width: 100%; line-height: 3.1; }
}

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo { display: inline-block; text-decoration: none; }

/* Mobile */

@media (max-width: 767px) {
	.logo img {  width: 101px; }	
}

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav { margin-right: 47px; font-size: 16px; line-height: 1.5; font-family: 'Open Sans', sans-serif; color: #fff; }

.nav li { display: inline-block; }

.nav li ~ li { margin-left: 28px; }

.nav a { display: inline-block; text-decoration: none; color: #fff; }

.nav a:hover { opacity: .5; }

/* Tablet Portrait */

@media (max-width: 1023px) {
	.nav-trigger { position: absolute; right: 0; top: 0; width: 24px; height: 20px; margin-top: 30px; margin-right: 37px; display: inline-block; visibility: visible; opacity: 1; }

	.nav-trigger span { position: absolute; display: block; height: 4px; width: 100%; border-radius: 4px; background: #fff; -webkit-transition: top .2s .25s, opacity .2s .25s, -webkit-transform .2s 0s; transition: top .2s .25s, opacity .2s .25s, -webkit-transform .2s 0s; -o-transition: top .2s .25s, opacity .2s .25s, transform .2s 0s; transition: top .2s .25s, opacity .2s .25s, transform .2s 0s; transition: top .2s .25s, opacity .2s .25s, transform .2s 0s, -webkit-transform .2s 0s; border-radius: 2px; }

	.nav-trigger span:nth-child(1) { top: 0; }
	.nav-trigger span:nth-child(2) { top: 9px; }
	.nav-trigger span:nth-child(3) { top: 18px; }

	.nav-trigger--active span { -webkit-transition: background .2s, top .2s, opacity .2s, -webkit-transform .2s .25s; transition: background .2s, top .2s, opacity .2s, -webkit-transform .2s .25s; -o-transition: background .2s, top .2s, opacity .2s, transform .2s .25s; transition: background .2s, top .2s, opacity .2s, transform .2s .25s; transition: background .2s, top .2s, opacity .2s, transform .2s .25s, -webkit-transform .2s .25s; background-color: #fff;  }

	.nav-trigger--active span:nth-child(3),
	.nav-trigger--active span:nth-child(1) { top: 11px; }

	.nav-trigger--active span:nth-child(2) { opacity: 0; }
	.nav-trigger--active span:nth-child(1) { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
	.nav-trigger--active span:nth-child(3) { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }


	.nav { position: absolute; top: 82px; right: 0; bottom: 0; z-index: 140; width: 100%; padding: 0; margin: 0; -webkit-transition: height .4s, opacity.4s, visibility .4s; -o-transition: height .4s, opacity.4s, visibility .4s; transition: height .4s, opacity.4s, visibility .4s; opacity: 0; visibility: hidden; text-align: left; height: 0; font-size: 14px; overflow-x: scroll; background-size: cover; color: #fff; background: -o-linear-gradient(298deg, #189aff 0%, #2d62fd 100%); background: linear-gradient(152deg, #189aff 0%, #2d62fd 100%); }

	.nav a { display: block; height: 46px; padding: 10px; color: #fff; -webkit-transition: 0s; -o-transition: 0s; transition: 0s; font-size: 14px; font-weight: 700; line-height: 1.8;  }

	.nav ul { padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; }
	.nav li { display: block; width: 100%; border-top: 1px solid #caca; }
	.nav li:first-child { border-top: 0; }
	.nav li:hover { background-color: #fff; }
	.nav li:hover a { color: #000; }

	.nav li + li { margin-left: 0; padding-left: 0; }
	.nav li + li:before { content: none; }
	.nav.visible { opacity: 1; visibility: visible; height: 100vh; }
}

/* Mobile */

@media (max-width: 767px) {
	.nav-trigger { margin-right: 15px; }
}

/* ------------------------------------------------------------ *\
	Partner
\* ------------------------------------------------------------ */

.partners { max-width: 1680px; margin-left: calc(50vw - 633px); }

.partner { display: inline-block; padding: 36px 50px 27px; min-height: 284px; max-width: 510px; background-color: #fff; border-radius: 5px; -webkit-box-shadow: 0 19px 26px rgba(0, 0, 0, 0.15); box-shadow: 0 19px 26px rgba(0, 0, 0, 0.15); -ms-flex-negative: 0; flex-shrink: 0; }

.partner .partner__image { min-height: 50px; }

.partner .partner__content { padding-top: 8px;}

.partner .partner__content h4 { margin-bottom: 21px; }

.partner ~ .partner { margin-left: 20px; }

/* Small Desktop */

@media (max-width: 1200px) {
	.partners { margin-left: 0; }
}

/* Tablet Portrait */

@media (max-width: 1023px) {
	.partners { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; margin-left: 33px; }

	.partner { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; }
}

/* Mobile */

@media (max-width: 767px) {
	.partners { margin-left: 16px; margin-right: 0; }
	.partner .partner__image { min-height: 35px; }
	.partner { min-height: 353px; max-width: 264px; padding: 24px 26px; }
	.partner .partner__content { padding-top: 9px; }
}

/* ------------------------------------------------------------ *\
	Section Datas
\* ------------------------------------------------------------ */

.section-data { padding: 111px 0 160px; }

.section-data .section__title { margin-left: 5px; }

.section-data .section__head { padding-bottom: 63px; }

/* Tablet Portrait */

@media (max-width: 1023px) {
	.section-data { padding: 45px 0 138px; }
	.section-data .section__head { text-align: center;  }	
}

/* Mobile */

@media (max-width: 767px) {
	.section-data { padding: 116px 0 96px; }
	.section-data .section__head { padding: 0 30px 50px; }
}

/* ------------------------------------------------------------ *\
	Section Guide
\* ------------------------------------------------------------ */

.section-guide { padding: 188px 0 288px; background-repeat: no-repeat; background-position: center 0; background-size: cover; }

.section-guide .section__title { margin-left: 8px; }

.section-guide .section__head { padding-bottom: 50px; }

.section-guide .section__body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.section-guide .section__content { -webkit-box-flex: 1; -ms-flex: 1 1; flex: 1 1;  padding: 24px 0 0 10px;}

.section-guide .section__aside { padding-left: 20px; -webkit-box-flex: 1; -ms-flex: 1 1; flex: 1 1; }

.section-guide .section__actions { padding-top: 58px; }

.section-guide .section__actions .btn--transparent { border-color: #179aff; color: #2e63fd; }

.section-guide .section__actions .btn ~ .btn { margin-left: 24px; }

/* Tablet Portrait */

@media (max-width: 1023px) {
	.section-guide { padding: 168px 0 288px; }
	.section-guide .section__head { padding-bottom: 48px; text-align: center; }
	.section-guide .section__body { display: block; }
	.section-guide .section__aside { padding-left: 0; }
	.section-guide .section__actions { padding-top: 43px; text-align: center; }
}

/* Mobile */

@media (max-width: 767px) {
	.section-guide { padding: 112px 0 227px; }
	.section-guide .section__head { padding-bottom: 30px; }
	.section-guide .section__content { padding: 24px 0 0; }
	.section-guide .section__actions { padding-top: 15px; }
	.section-guide .section__actions .btn { display: block; margin: 0 auto; }
	.section-guide .section__actions .btn ~ .btn { margin: 26px auto 0; }
}

/* ------------------------------------------------------------ *\
	Section Callout
\* ------------------------------------------------------------ */

.section-callout { position: relative; z-index: 10; margin: -120px 0 -72px; padding: 91px 0 0; background-repeat: no-repeat; background-position: center center; background-size: 100% 728px; background-image: -o-linear-gradient(296deg, #189aff 0%, #2d62fd 100%, #2d62fd 100%); background-image: linear-gradient(154deg, #189aff 0%, #2d62fd 100%, #2d62fd 100%); color: #fff; font-size: 14px; }

.section-callout .section__title { margin-bottom: 33px; color: #fff;  }

.section-callout .section__entry h4 { color: #fff; }

.section-callout .section__inner { position: relative; top: 95px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.section-callout .section__content { -webkit-box-flex: 1; -ms-flex: 1 1; flex: 1 1; padding: 6px 0 0 23px; }

.section-callout .section__aside { -webkit-box-flex: 1; -ms-flex: 1 1; flex: 1 1; }

.section-callout .section__entry { margin-bottom: 41px; }

.section-callout .section__image { margin-top: -30px; margin-left: -9px; }

/* Tablet Portrait */

@media (max-width: 1023px) {
	.section-callout { padding: 63px 0 0; margin: -129px 0 -118px; background-image: -o-linear-gradient(296deg, #189aff 0%, #2d62fd 100%, #2d62fd 100%); background-image: linear-gradient(154deg, #189aff 0%, #2d62fd 100%, #2d62fd 100%); background-size: cover; }

	.section-callout .section__title { margin-bottom: 37px; }
	.section-callout .section__inner { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
	.section-callout .section__aside { padding-top: 116px; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
	.section-callout .section__entry { margin-bottom: 21px; padding: 0 150px; }
	.section-callout .section__content { text-align: center;  padding: 0;  }

	.section-callout .section__image { margin: 0; text-align: center; }
}

/* Mobile */

@media (max-width: 767px) {
	.section-callout { padding: 21px 0 68px; }
	
	.section-callout .section__aside { padding-top: 40px; }
	.section-callout .section__image img { width: 249px; }
	.section-callout .section__title { margin-bottom: 33px; }
	.section-callout .section__entry { padding: 0 10px; }
}

/* ------------------------------------------------------------ *\
	Section Token
\* ------------------------------------------------------------ */

.section-token { padding: 356px 0px 158px;  background-repeat: no-repeat; background-position: center 100%; background-size: cover; }

.section-token .section__title { margin-left: 6px; }

.section-token .section__head { padding-bottom: 30px; }

.section-token .section__inner { display: -webkit-box; display: -ms-flexbox; display: flex; }

.section-token .section__aside { padding-left: 25px; }

.section-token .section__content { max-width: 677px; -webkit-box-flex: 0; -ms-flex: 0 1 677px; flex: 0 1 677px; }

/* Tablet Portrait */

@media (max-width: 1023px) {
	.section-token { padding: 378px 0 87px; }
	.section-token .section__title { text-align: center; }
	.section-token .section__content { max-width: 100%; -webkit-box-flex: 0; -ms-flex: 0 1 100%; flex: 0 1 100%; }
	.section-token .section__aside { padding-left: 0; }
	.section-token .section__inner { display: block; }

	.section-token .section__image { margin-top: 29px; margin-right: 55px; text-align: center; }	
}

/* Mobile */

@media (max-width: 767px) {
	.section-token { padding: 251px 0 82px; }

	.section-token .section__title { margin-left: 0; padding: 0 30px; }
}

/* ------------------------------------------------------------ *\
	Section Parteners	
\* ------------------------------------------------------------ */

.section-partners { padding: 185px 0 74px;  }

.section-partners .section__title { margin-left: 6px; }

.section-partners .section__head { padding-bottom: 15px; }

/* Tablet Portrait */

@media (max-width: 1023px) {
	.section-partners { padding: 167px 0 112px; }

	.section-partners .section__head { text-align: center; }
}

/* Mobile */

@media (max-width: 767px) {
	.section-partners { padding: 119px 0 0; }	
}

/* ------------------------------------------------------------ *\
	Services
\* ------------------------------------------------------------ */

.services { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.service { padding: 0 10px; margin-bottom: 20px; max-width: 315px; -webkit-box-flex: 0; -ms-flex: 0 1 315px; flex: 0 1 315px; }

.service .service__inner { min-height: 273px; padding: 39px 30px 17px; border-radius: 5px; background-color: #fff; -webkit-box-shadow: 0 19px 26px rgba(0, 0, 0, 0.15); box-shadow: 0 19px 26px rgba(0, 0, 0, 0.15); }

.service .service__head { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.service .service__head h4 { padding-right: 27px; }

.service .service__body { padding-top: 20px; }

.service .service__foot { padding-top: 34px; }

/* Tablet Portrait */

@media (max-width: 1023px) {
	.services { max-width: 705px; margin: 0 auto; }
	.service { max-width: 337px; -webkit-box-flex: 0; -ms-flex: 0 1 337px; flex: 0 1 337px; margin-bottom: 24px; padding: 0; }
	.service .service__inner { padding: 35px 31px 17px; min-height: 274px }
	.service .service__foot { padding-top: 37px; }
}

/* Mobile */

@media (max-width: 767px) {
	.service { max-width: 295px; margin: 0 auto; margin-bottom: 19px; }

	.service .service__head h4 { padding-right: 34px; }
	.service .ico-phone { width: 40px; }
	.service .ico-work { width: 51px; }
	.service .ico-team { width: 48px; }
	.service .ico-network { width: 53px; }
	.service  .service__inner { padding: 40px 24px 27px 38px; }
}

/* Mobile Portrait*/

@media (max-width: 374px){
	.service { padding: 0; }	
}

/* ------------------------------------------------------------ *\
	Slider Partners
\* ------------------------------------------------------------ */

.slider-partners .slick-list { margin: 0 -15px; }

.slider-partners .slick-slide { padding: 50px 15px; }

/* Mobile */

@media (max-width: 767px) {
	.slider-partners .slick-list { margin: 0; }
	.slider-partners .slick-slide { width: 300px; padding: 50px 0 42px; }
}

/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials ul { list-style: none; }

.socials li { display: inline-block; }

.socials li ~ li { margin-left: 28px; }

.socials a { display: inline-block; text-decoration: none; }

.socials a:hover { opacity: .6; }

/* Small Desktop */

@media (max-width: 1200px) {
	.socials li ~ li { margin-left: 10px; }
}

/* Tablet Portrait */

@media (max-width: 1023px) {
	.socials li ~ li { margin-left: 28px; }	
}

/* Mobile */

@media (max-width: 767px) {
	.socials { padding-top: 18px; text-align: center; }
}

/* ------------------------------------------------------------ *\
	Step
\* ------------------------------------------------------------ */

.steps { max-width: 510px; margin: 0 7px 0 auto;  }

.step { padding: 26px 18px 31px 47px; margin-bottom: 17px; background-color: #fff; border-radius: 5px; -webkit-box-shadow: 0 19px 26px rgba(0, 0, 0, 0.15); box-shadow: 0 19px 26px rgba(0, 0, 0, 0.15); }

/* Tablet Portrait */

@media (max-width: 1023px) {
	.steps { margin: 105px auto 0; }	
}

/* Mobile */

@media (max-width: 767px) {
	.steps { margin: 59px auto 0; }
	.step { max-width: 288px; margin: 0 auto 20px; padding: 30px 23px 31px 30px; }
}

/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */

.widgets { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Themes
\* ------------------------------------------------------------ */
